<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>To Do List</title>

</head>

<body>
<h1> <%= kindOfDay %> </h1>




<ul>
		<% renderList.forEach(element =>{ %> 

			<li><%=  element.todo %></li>
		<% }); %>
</ul>


<form class="" action="/" method="post">
	<input type="text" name="newItem" value="">
	<button type="submit" name="button">Add</button>
</form>

</body>

</html>